<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test_kandydata.Properties.Settings.Demo2018ConnectionString"
            connectionString="Data Source=N2482;Initial Catalog=Demo2018;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>